  
<form action="/create" method="POST">
  <h2>Добавить задачу</h2>

  <div class="input-field">
    <input type="text" name="title" placeholder="Ваша задача?">
    
  </div>

  <button type="submit" class="btn">Создать</button>
</form>